@media screen and (max-width: 768px)
{
	header
  {
	background-color:#f3a61f;
	display: flex;
	justify-content: flex-start;
	}

  .container{
  display: flex;
  align-content: center;
  }
  .logo2{
    margin-top: 10px;
  }
  .intro{
    margin-top: 10px;
  }
  h1
  {
  margin-top: 13%;
  margin-left: 13%;
  font-size: 30px;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  }
  p
  {
    font-size: 15px;
  }

}


@media screen and (min-width: 768px)
{
  .card{
    margin-left: 1%;
  }
}

.btn {
  display: block;
  margin : auto;
  background-color: #f3a61f;
  color: white;
  /*background-color: #f78040;*/
  border: 1px solid black;
}

.btn:hover {
  background-color: #f3c677;

}



.card-img-top {
  border-radius: 15px;
  width: 80%;
  height: auto;
  margin: auto;

}

footer{
  background-color: #646363;
  color: white;
  margin-top: 5%;
  border-radius: 15px;
}

body
{
  background-color: rgba(240, 239, 239, 0.795);
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


.card
{
  margin-top: 5%;
  border-radius: 5px;
  text-align: center;
  box-shadow: 3px 3px grey;
  max-width: 300px;
}

  .github, .linkedin{
    width: 15%;
  }

