@media screen and (max-width: 768px)
{
	header{
	background-color:#EF9A9A;
	display: flex;
	justify-content: flex-start;
	}
  .github, .linkedin{
    width: 15%;
  }
}

.btn {
  display: block;
  margin : auto;
  background-color: #f3a61f;
}

.card-img-top {
  border-radius: 15px;
  width: 80%;
  height: 80%;
  margin: auto;
}

footer{
  background-color: #646363;
  color: white;
  margin-top: 5%;
  border-radius: 15px;
}

body
{
  background-color: #EAEAEA;
}

.card
{
  margin-top: 5%;
  border-radius: 5px;
}
