@media screen and (max-width: 768px)
{

  .container{
  display: flex;
  align-content: center;
  }
  .logo2{
    margin: 10px;
  }

  .intro
  {
    display: none;
  }


  h1
  {
  margin: auto;
  font-size: 30px;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  }
 
  .logo2
  {
    margin: auto;
  }

  header
  {
    padding-bottom: 4%;
  } 

  p
  {
    font-size: 15px;
  }
  .card{
  margin: auto;
  }
}


@media screen and (min-width: 992px)
{

    /* Hover */
    .card 
    {
      position:relative; 
      margin-left: 1%;
    }

    .card:hover 
    {
      background-color: rgba(0, 0, 0, 0.3);
    }

    .card:hover .card-img-top
    {
      opacity: 0.3;
    }

    .card .title,.card:after
    {
      position:absolute; 
      transition:all .3s ease 0s
    }

    .card:after
    {
      content:"";width:65%;
      background: #F47173;
      padding-bottom:65%;opacity:0;
      top:50%;left:50%;
      transform:rotate(0) translate(-50%,-50%);
      transform-origin:0 0 0;
    }

    .card:hover:after
    {
      transform:rotate(-45deg) translate(-50%,-50%);
      opacity:1
    }

    .card img
    {
      width:100%;
      height:auto
    }

    .card .title
    {
      width:100%;
      top:35%;
      left:0;
      opacity:0;
      z-index:1
    }

    .card:hover .title
    {
      opacity:1
    }

    .card .title
    {
      padding:10px 0;
      color:#fff;
      margin:0;
      border-top:2px solid #fff;
      border-bottom:2px solid #fff
    }

}

.btn 
{
  display: block;
  margin : auto;
  background-color: #495867;
  color: white;
  border: 1px solid black;
}

.btn:hover 
{
  background-color: #ffffff;
  color: #495867;

}

.row
{ 
  justify-content: space-around;
  align-items: center;
}

.card-img-top
{
  border-radius: 3px;
  width: 80%;
  height: auto;
  margin: auto;

}

footer
{
  background-color: #F47173;
  color: white;
  margin-top: 5%;
  border-top: 2px solid black;
}

body
{
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #EBEBEB;
}

h1
{
  font-family: 'Roboto';
  color: white;
  text-align: center;
}

.card
{
  margin-top: 5%;
  border-radius: 5px;
  text-align: center;
  box-shadow: 3px 3px grey;
  max-width: 300px;
  margin: 1%;  
}

.github, .linkedin
{
  width: 15%;
}

h2
{
  color: #223843;
}

.text-muted
{
  font-size: 8px;
}

.hyperl
{
  color: #495867;
}

header
{
  background-color: #F47173;
  border-bottom: 2px solid black;
}

.intro
{
  text-align: center;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid black;
}

#artémis, #chronos, .intro
{
  background-color: white;
}


#decodeur
{
  background-color: #F5F5F5;
  border-top: 1px solid black;
}

#betelgeuse
{
  background-color: #F5F5F5;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

h2
{
  padding-top: 1%;
}
